# PostgreSQL configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=posgres_port
POSTGRES_DATABASE=your_postgres_database
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

# SQL Server configuration
SQLSERVER_HOST=localhost
SQLSERVER_DATABASE=your_sqlserver_database
SQLSERVER_USER=your_sqlserver_user
SQLSERVER_PASSWORD=your_sqlserver_password

# Target table
TARGET_TABLE=dbo.YourTargetTable
